﻿@model CommunityWebApp.Models.Community

@{
    ViewData["Title"] = "AddCommunity";
}

<h2>AddCommunity</h2>

<h4>Community</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCommunity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="CommunityName" class="control-label"></label>
                <input asp-for="CommunityName" class="form-control" />
                <span asp-validation-for="CommunityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunityType" class="control-label"></label>
                <input asp-for="CommunityType" class="form-control" />
                <span asp-validation-for="CommunityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunityDescription" class="control-label"></label>
                <input asp-for="CommunityDescription" class="form-control" />
                <span asp-validation-for="CommunityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunityCode" class="control-label"></label>
                <input asp-for="CommunityCode" class="form-control" />
                <span asp-validation-for="CommunityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

