﻿
@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<table cellpadding="3" cellspacing="3" border="1">
    <tr>
        <th>CommunityID</th>
        <th>CommunityName</th>

    </tr>

   @foreach (var com in ViewBag.communities)
   {
    <tr>
        <td>@com.CommunityId</td>
        <td>@com.CommunityName</td>

    </tr>
   }
</table>